/* Start CSS Additions by NIM Designs (nimdesignsinc@gmail.com):  */

/*  Mint: #8EFAB4 , T-Blue: #81D8D0  */


/*    */



/*  START NAVBAR STYLES  */
#navbar {
    min-width: 100%;
    /*margin-bottom:10px;*/
}

#navbar-col {
    margin: 0px;
}

.navbar-inverse {
    /*border-bottom: 1px solid transparent;
    border-bottom-color: #8EFAB4;*/
}

#navbar-buttons {
    /*margin-left: 0px;*/
}

.btn-navbar {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    /*border: 1px solid transparent;*/
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    /*border-radius: 4px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nim-nav-button {
    -moz-box-shadow: 0px 0px 0px 0px #dcecfb;
    -webkit-box-shadow: 0px 0px 0px 0px #dcecfb;
    box-shadow: 0px 0px 0px 0px #dcecfb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #464545), color-stop(1, #615f61));
    background: -moz-linear-gradient(top, #464545 5%, #615f61 100%);
    background: -webkit-linear-gradient(top, #464545 5%, #615f61 100%);
    background: -o-linear-gradient(top, #464545 5%, #615f61 100%);
    background: -ms-linear-gradient(top, #464545 5%, #615f61 100%);
    background: linear-gradient(to bottom, #464545 5%, #615f61 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464545', endColorstr='#615f61',GradientType=0);
    background-color: #464545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8efab4;
    display: inline-block;
    cursor: pointer;
    color: #8efab4;
    font-family: Arial;
    font-size: 21px;
    padding: 12px 21px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4c7359;
}

    .nim-nav-button:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #615f61), color-stop(1, #464545));
        background: -moz-linear-gradient(top, #615f61 5%, #464545 100%);
        background: -webkit-linear-gradient(top, #615f61 5%, #464545 100%);
        background: -o-linear-gradient(top, #615f61 5%, #464545 100%);
        background: -ms-linear-gradient(top, #615f61 5%, #464545 100%);
        background: linear-gradient(to bottom, #615f61 5%, #464545 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#615f61', endColorstr='#464545',GradientType=0);
        background-color: #615f61;
    }

    .nim-nav-button:active {
        position: relative;
        top: 1px;
    }


.navbar-brand {
    padding: 10px;
}

a.navbar-brand:hover {
    text-decoration: none;
}

a.navbar-brand {
    text-decoration: none;
}

.navbar-brand:hover,
.navbar-brand.hover,
.navbar-brand:focus,
.navbar-brand.focus,
.navbar-brand:active,
.navbar-brand.active {
    color: #ffffff;
    background-color: #2c2c2c;
    /*border-color: #272727;*/
}


.navbar-fixed-top {
}

.lily-logo {
    margin-top: 10px;
}

.green-colon {
    color: #8EFAB4;
    float: left;
}

/*html{
    background-image: url(../Images/005bw.jpg);
    background-size: 100%;
    background-size:cover;
    background-attachment: scroll;
}*/

/*  START BODY STYLES  */
html, body {
    background-image: url(http://localhost:53671/Images/New/Lily029-RAIN.png);
    margin: 0;
    padding: 0;
    font-family: 'Kurale', serif;
    /*background-image: url(../Images/New/Lily029-RAIN.png);*/
}

body {
    background-image: url(../Images/New/Lily029-RAIN.png); /*url(../Images/005bw.jpg)*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
    margin-top: 10px;
}

h3 {
    font-family: 'Cabin Sketch', cursive;
    /*text-emphasis-style: sesame;*/
    color: white;
}

h4 {
    font-family: 'Cabin Sketch', cursive;
    text-emphasis-style: sesame;
    color: #8EFAB4;
}

h6 {
    font-family: 'Cabin Sketch', cursive;
    text-emphasis-style: sesame;
    color: white;
    font-size: .85em;
}

h2 {
    font-family: 'Fredericka the Great', cursive;
    /*color: #ffffff;
    text-emphasis-style: filled open;
    text-decoration:underline #8EFAB4 solid;
    -moz-border-bottom-colors:#8EFAB4 ;*/
}

hgroup {
    /*color: #ffffff;
    text-emphasis-style: filled open;
    text-decoration:underline #8EFAB4 solid;
    */
}

.sub-headers {
    font-style:italic;
    font-size: .95em;
}

.list-notes{font-style:italic;}

.page-headers {
    color: #ffffff;
    text-emphasis-style: filled open;
    text-decoration: underline #8EFAB4 solid;
}

/*  WELCOME PAGE CSS  */
#welcome-buttons {
    margin-bottom: 10px;
}

#welcome-header {
    font-size: 3em;
    color: #ffffff;
}

.welcome-btn {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    float: left;
    font-size: 1.1em;
    text-decoration-style: none;
}

.welcome-msg {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5em;
}

#welcome-agree {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

#body-main {
    padding-top: 10px;
}

.btn {
    color: #8EFAB4;
    text-emphasis-style: filled open;
    -moz-text-decoration-style: none;
    text-decoration-style: none;
    font-size: 1.25em;
}

.btn-default {
    width: 150px;
    margin: 5px 10px;
    align-items: center;
}

#default-btn-row {
    -moz-box-align: center;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

#default-intro-text {
    text-align: justify;
}

a {
    text-decoration-style: none;
}


/*  DEFAULT PAGE MAIN PANEL STYLES  */
#main-panel-text {
    font-size: 1.25em;
    padding-right: 2em;
}


/*  DEFAULT PAGE IMAGE STYLES  */
#default-img {
    border: 1px solid #8EFAB4;
    /**/ border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    max-height: 500px;
    max-width: relative;
}



.default-panel-right-col {
    margin-left: 0;
}

.default-panel-left-col {
    margin-right: 0;
}

#default-button {
    /*padding-top:10px;*/
}

/*  GALLERY STYLES  */
.gallery-col-padding{
    margin-left:20px;
    margin-right:10px;
}

/*  REVIEW PAGE STYLES  */
blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 18.75px;
    border-left: 5px solid #8EFAB4;
}

    blockquote footer,
    blockquote small,
    blockquote .small {
        display: block;
        font-size: 80%;
        line-height: 1.42857143;
        color: #ffffff;
    }

        blockquote footer:before,
        blockquote small:before,
        blockquote .small:before {
            content: '\2014 \00A0';
        }

    .blockquote-reverse,
    blockquote.pull-right {
        padding-right: 15px;
        padding-left: 0;
        border-right: 5px solid #464545;
        border-left: 0;
        text-align: right;
    }
/*.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}*/
.review-page-ext-links {
    text-emphasis-color: #8EFAB4;
}

#review-page-headers {
    color: #8EFAB4;
    text-emphasis-style: filled open;
}

#review-page-main-header {
    color: #FFFFFF;
    text-emphasis-style: filled open;
    text-decoration: double;
}

#review-page-ext-link {
    color: #8EFAB4;
}

/*Start Contact Page Styles*/
#contact-message-box {
    margin-bottom: -100%;
    padding-bottom: 100%;
    vertical-align: middle;
}

#contact-detail-border {
    border-left: double #8EFAB4;
}

.contact-details{padding-top:10px;}

.contact-info {
    margin-bottom: -100%;
    padding-bottom: 100%;
}

#info-conditions {
    border-right: thick #8EFAB4;
}

#contact-page-phone {
    font-size: 1.25em;
    color: #FFFFFF;
    text-emphasis-style: filled open;
}

#contact-page-email {
    font-size: 1.25em;
    color: #FFFFFF;
    text-emphasis-style: filled open;
    margin-right: 0;
    padding-right: 0;
}

#contact-page-phone-align {
    text-align: left;
    margin-left: 0;
}

.contact-page-headers {
    /*color: #8EFAB4;*/
    text-emphasis-style: filled open;
    /*text-align: right;*/
}

.contact-email-header{margin-top:10px;}

/*#email{margin-top: 10px;}*/

.contact-phone {
    /*color:#8EFAB4;*/
    color: #FFFFFF;
    font-size: 1.25em;
}

.contact-email {
    color: #FFFFFF;
    font-size: 1.25em;
    text-emphasis-style: none;
}

/*#contact-name-email-col{
    margin: 5px 10px;
}*/

#contact-submit {
    min-width: 25%;
    margin-right: 10px;
}

#contact-cancel {
    min-width: 25%;
    margin-left: 10px;
}

#contact-page-location {
    margin-right: 0;
}


#contact-green-colon {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding-top: 0.15em;
    margin-left: 0;
}

/*#generalComments{
    margin:3px 4px;
}*/

.form-horizontal .form-group {
    margin-left: 5px;
    margin-right: 5px;
}

/*Start About Page Styles*/
#about-page-headers {
    color: #ffffff;
    text-emphasis-style: filled open;
    text-decoration: underline #8EFAB4 solid;
}


/*  Start - Gallery Page CSS  */
.sp-image {
    border: 1px solid #8EFAB4;
    /**/ border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    max-height: 500px;
    max-width: relative;
}


/*  Start - Service Page CSS  */
#service-page-headers {
    color: #8EFAB4;
    text-emphasis-style: filled open;
}

/*  START FOOTER STYLES  */
footer {
    margin-bottom: 0;
    overflow: auto;
}

/*END OF CSS ADDITIONS*/


