@{
    Page.Title = "Bio";
    Layout = "~/_SiteLayout.cshtml";
    
}


<div class="well well-lg">
    <hgroup class="title">
        <h2 class="page-headers">More About Lily Grace:</h2>
    </hgroup>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <article id="about-lily-article01">
                <p>
                    I have been described as the kind of woman who allows you to believe that magic exists in the world...
                </p>
                <p>
                    As the ultimate seductress and spell binding lover, I truly enjoy the sometimes taboo world of fantasy, fetishes, and sexual discovery & healing. I'm passionately engaged in all manners of human connection, a refreshingly intelligent conversationalist, wickedly funny and sharp, intuitive with the application of certain erotic skills & talents and other-worldly in both looks and demeanor. That is to say, that you are unlikely to meet another woman who is as much of a bad ass as I am. (Yes, that is a technical term.)

                </p>

                <p>
                    In sessions, I am myself. While I do enjoy role play and such activities, I firmly believe that who I am is more often than not better than any fictional version of myself that I or anyone else could conjure up. I am as genuinely me as I possibly can be. Fortunately, who I am is a person who thrives on erotic creativity, making spontaneous and even sometimes serendipitous connections with genuine people and building fulfilling but with “NSA” type relationships. 

                </p>

                <p>
                    A session with me can range from holistic, renewing, sensual and healing to energetic, erotic, deeply passionate and consuming. I tend to plan on the energy levels of others; if you bring high energy, I will match you and then some. My play style varies depending on the connection I have with each individual person involved, what our mutual interests are and what requests have been made. I am comfortable having you beg at my feet, looking up my beautiful, long legs, hourglass figure, and full breasts and longing for a tender touch or a stern punishment, just as I am wearing a feminine gown while timidly, but longingly, resting my head on your shoulder as we dance in the moonlight.
                </p>

               <p>
                   I never ever plan a session out in a blow by blow manner (although, I usually do have an idea of the direction I want to take you in prior to us meeting in person) I don't believe that people are able to be a general "one size fits all" in any capacity; Just because someone likes the same activities as another - doesn't mean that the session will be the same or often, even similar.
               </p>

                <p>
                    My play space is nestled in a private, residential part of Seattle near Capitol Hill and parking is usually easy to come by. There is a convenient paid parking lot on the corner across the street from my building. The space itself is located on the ground floor of a fairly new apartment building that is well maintained. Thick cement walls and ceilings offer plenty of discreet privacy allowing us both freedom to express ourselves however we’d like.  We can moan, squeal, and yes, even yell out in All-Encompassing “O-Tastic” carnal joy if you are vocal as I am….And no one would be the wiser. :) 
                </p>

                <p>
                    With enough notice, (booking out a week or so in advance is usually perfect for me, although same day appointments are usually available as well) I am available every day of the week and I am happy to work around tight or confined schedules. That being said, I am a night owl by nature (usually up late choreographing my newest dance piece) and there is a commute to my main in-call location from home, so mornings are generally not my peak performance hour. ;)
                </p>

            </article>
        </div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel-body">
                <div class="img-responsive" align="center">

                    <a href="~/Images/New/Lily018.jpg" title="Neon Serious" data-gallery>
                        <img id="default-img" src="~/Images/New/Lily018.jpg" alt="Neon Serious" />
                    </a>
                </div>
                <br/>
                <div class="img-responsive" align="center">

                    <a href="~/Images/New/Lily027-BlackandWhiteMirror.png" title="Lily 23" data-gallery>
                        <img id="default-img" src="~/Images/New/Lily027-BlackandWhiteMirror.png" alt="Lily 023" />
                    </a>
                </div>
                <br />
                <div class="img-responsive" align="center">

                    <a href="~/Images/New/Lily028-PinkBlack.png" data-gallery>
                        <img id="default-img" src="~/Images/New/Lily028-PinkBlack.png" alt="Lily 023" />
                    </a>
                </div>
            </div>
        </div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div class="row">

    

</div>

@*<aside>
        <h3>Aside Title</h3>
        <p>
            Use this area to provide additional information.
        </p>
        <ul>
            <li><a href="~/">Home</a></li>
            <li><a href="~/About">About</a></li>
            <li><a href="~/Contact">Contact</a></li>
        </ul>
    </aside>*@

@*<p>
        An engagement with Lily Grace is something to be savored. Allow yourself the privilege of being enchanted by a young woman whose brains and beauty, sophistication and sensuality, passion and play are in perfect balance. For a world-class, unparalleled encounter, indulge yourself in the experience of a lifetime with Lily Grace.
    </p>
    <p>
        Lily Grace is based in Seattle, Washington, but given a bit of advanced notice, she can meet you anywhere. She has yet to travel abroad, but has plans to start traveling the world – starting with Ireland in October of 2015.
    </p>

    <p>
        I have soft blonde hair, brilliant green eyes, and a tall and slim body measuring 34d-26-37 and 135 lbs. I maintain my lean, toned physique and beautifully sculpted hourglass figure through a dedicated dance workout regimen.
    </p>

    <p>
        I am finishing my degree in psychology and enjoy reading an eclectic variety of fiction and non-fiction literature. I have impeccable manners, grace and charm and would love to accompany you to a gallery opening, charity event, intimate candle-lit dinner or night on the town.
    </p>

    <p>
        I am always impeccably dressed in the best designer clothes and lingerie, and I will fit seamlessly into your social life. I am based in Seattle, but I am available for travel anywhere your heart desires.

    </p>*@






