@{
    Page.Title = "Considerations";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="well well-lg">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel-body">
                <div class="img-responsive" align="center">

                    <a href="~/Images/New/Lily020.jpg" title="Lily 21" data-gallery>
                        <img id="default-img" src="~/Images/New/Lily020.jpg" alt="Lily 21" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <hgroup class="title">
                <h2 class="page-headers">Considerations:</h2>
                <h6 class="sub-headers">Donations, Gifts, Tributes, Wish lists, and Favorites</h6>
            </hgroup>
            <article>
                <h4>Lily's Degrees of Pleasure</h4>
                <ul>
                    <li>A Taste of Eden – 1 hr. – $400</li>
                    <li>Sublime Seduction – 1 hr. – $600</li>
                    <li>Forbidden Fantasy– 2 hrs. – $800</li>
                    <li>Pure Ecstasy – 3 hrs. – $1200</li>
                    <li>Grand Slam – 4 hrs. – $1600</li>

                </ul>
                <h6 class="list-notes">* Out-Call appointments have an additional $50 donation added to above “In-Call rates” to cover gas, travel time, and mileage.</h6>

                <h4>For Longer Dalliances and Travel Dates:</h4>
                <ul>
                    <li>An Erotic Affair: Dinner and Dessert– 6 hrs. – $2400</li>
                    <li>A Hedonist’s Dream – 12 hrs. – $4800</li>
                    <li>GFE Complete Connection – 24 hrs. – $9600</li>

                </ul>
                <h6 class="list-notes">** Travel fees and accommodations will be expected to be handled by the client and it is their responsibility to take care of any additional travel expenses that may occur during my visit. Please be prepared to have both the donation amount for both the hotel, travel, and extras ready way in advance and know that you will need to send me the donation prior to actual trip. A 50% down payment is needed for all appointments 4 hour or longer and will need to be received prior to our actual meeting. This will guarantee our time together!</h6>

            </article>
        </div>


    </div>
    <br />
    <div class="row">



        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <hgroup class="title">
                <h2 class="page-headers">Gifts and Wish List:</h2>
                <h6 class="sub-headers">While gratuities are never expected, they are certainly appreciated and will never go unnoticed! Below are some of my favorite things to help guide you when choosing a gift to send me.</h6>
            </hgroup>
            <article>
                <h4>
                    Lily's Amazon Wishlist - <a href="http://amzn.com/w/19FG94D0QPY6U">CLICK HERE</a>
                </h4>

                <h4>Lily's Favorite Things: </h4>

                <ul>
                    <li>Perfume: Burberry Brit Sheer, Blvgari Omni Crystalline, Miss Dior, LAMB by Gwen Stefani, The One; The Rose; By Dolce & Gabbana</li>
                    <li>Purses: Michael Kors, L.A.M.B., Kate Spade, Burberry, Jimmy Choo, Diesel, Coach, Louis Vuitton, Bebe, Guess</li>
                    <li>Shoes: Christian Louboutin, Jimmy Choo, Jessica Simpson, Christian Dior, Dolce & Gabbana</li>
                    <li>Colors: Greens (Kelly, Mint, Seafoam, Emerald, Forest), Red (blue-reds), Teal, lavender</li>
                    <li>Dolce and Gabbana</li>

                    <li>Lingerie: La Perla, Le Provocateur, Kate Spade, Fredrick’s of Hollywood </li>
                    <li>
                        Lily's Measurements
                        <ul>
                            <li>Bra - 34D</li>
                            <li>Medium for most bottoms and tops</li>
                            <li>Waist - 28"</li>
                            <li>Inseam - 32” to 34” inch length for pants (I also often wear size: “Tall”)</li>
                            <li>Jacket Size - 6 or Medium</li>
                        </ul>
                    </li>
                    <li>
                        A Naughty Toy that has been on my “Naughty Wish List:  forever:
                        <ul>
                            <li>Deluxe Versa Fuk Supercharged Sex Machine Kit - <a href="https://goo.gl/4ZzVBt">CLICK HERE</a></li>
                        </ul>
                    </li>


                </ul>
            </article>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel-body">
                <div class="img-responsive" align="center">

                    <a href="~/Images/New/Lily010.jpg" title="Lily 10" data-gallery>
                        <img id="default-img" src="~/Images/New/Lily010.jpg" alt="Lily 10" />
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>