@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "The Lily Pad 2.0";
}



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="well well-lg">



            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 default-panel-left-col">

                    <div class="panel-body">
                        <div class="img-responsive" align="center">

                            <a href="~/Images/New/Lily021.JPG" title="Lily 21" data-gallery>
                                <img id="default-img" src="~/Images/New/Lily021.jpg" alt="Lily 21" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 default-panel-right-col">
                    <div class="panel-body" id="main-panel-text">

                        <div class="row" id="default-intro-text">
                            <h2 class="page-headers">A Bit About Me:</h2>

                            <p>
                                My name is Lily Grace, and I am an Independent Luxury Companion based out of Seattle, Washington. I offer my companionship to mature, generous gentlemen of the upper echelon, who enjoy and are able to appreciate the company of a vivacious, enchanting, and gorgeous young lady. I am open to meeting like-minded women and couples interested in sensual exploration.

                            </p>

                            <p>
                                I am highly educated and still enroute of pursuing my continued education in psychology. I am currently in midst of completing my master’s degree and enjoying every minute of these scholastic endeavors. I am an avid reader and a writer, a yoga aficionado, and a fosterer and activist for the welfare of our four-legged friends. I am very fond of intellectually stimulating conversations, passionate embraces, and of cultivating that certain chemistry between beings that seems to forever be lost in the ennui of everyday matters.
                            </p>

                            <p>
                                I am an All-American sweetheart with an Eastern European look – bringing to you the elegant beauty and inimitable graceful charm that you have been searching for! Standing at 5’10″, I have been blessed with gorgeous long legs, an impeccable hourglass shape, silky, soft skin, long blond hair and mesmerizing blue eyes.
                            </p>

                            <p>
                                I believe you will not only find me aesthetically pleasing, but will marvel at the intricate complexity of my character. The mind-boggling combination of coyness, and bashful vulnerability, intermixed with a fiery passion and a craving for endowing genuine pleasure -worthy only of a true Enchantress.
                            </p>

                        </div>


                        <br />
                        <div class="row" id="default-btn-row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" align="center" id="default-button">
                                <div class="btn btn-default">
                                    <a href="~/About.cshtml">Begin Here</a>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" align="center" id="default-Expectation-button">
                                <div class="btn btn-default">
                                    <a href="~/Gallery.cshtml">Gallery</a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        </div>
                    </div>
                </div>

                @*style="margin:inherit; padding:inherit;"*@
                
            </div>
            

        </div>
    </div>

</div>


@*<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-success">
            <h5 class="panel-heading">GALLERY</h5>
            <div class="panel-body" id="default-page-gallery-panel">

                <div id="example1" class="slider-pro">
                        <div class="sp-slides">
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb001.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb002.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb003.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb004.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb005.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb006.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb007.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb008.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb009.jpg" />
                                </a>
                            </div>
                            <div class="sp-slide">
                                <a href="~/Gallery">
                                    <img class="sp-image" src="~/Images/thumbnails/LilyThumb010.jpg" />
                                </a>
                            </div>

                        </div>
                    </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-success">
            <h5 class="panel-heading">EXPECTIONS</h5>
            <div class="panel-body">
                <p>You can put whatever subtext you want here</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pulvinar velit. Aenean lectus dolor, molestie tincidunt dignissim non, maximus non enim. </p>
                <div class="btn btn-default">
                    <a href="~/Service">Expectations</a>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-success">
            <h5 class="panel-heading">Contact: </h5>
            <div class="panel-body">
                <p>You can put whatever subtext you want here</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pulvinar velit. Aenean lectus dolor, molestie tincidunt dignissim non, maximus non enim. </p>

                <div class="btn btn-default">
                    <a href="~/Contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>*@ 



