@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Common Questions";
}

<div class="well well-lg">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hgroup class="title">
                <h2 class="page-headers">Frequently Asked Questions:</h2>
            </hgroup>
        </div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    </div>

    <div class="row">
        <article id="about-faq">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <h4>Schedule and Availability</h4>
                <p>
                    I am highly selective and see very few gentlemen. I prefer to be in a long-term exclusive arrangement, which is why occasionally, you may find that I am unavailable.
                </p>

                <h4>Donation Expectations</h4>
                <ul>
                    <li>HH $250 - Incall</li>
                    <li>HR $400 - Incall</li>
                    <li>90 Min $600 - Incall</li>
                    <li>2Hours: $700 - Incall</li>

                </ul>

                <p>
                    * Extended visits and special arraignments are available to returning gentlement.
                </p>

                <h4>Are references really necessary?</h4>
                <p>
                    While I appreciate your need for discretion, my safety is as important as your privacy. Trust is an integral part of our relationship. <b>If I cannot verify you, I cannot see you.</b>
                </p>

                <h4>Are your rates negotiable?</h4>
                <p>
                    I am a luxury companion and my rates are non-negotiable. Louis Vuitton does not go on sale, and neither do I.
                </p>

                <h4>What methods of payment do you accept?</h4>
                <p>
                    I accept cash and money orders from recognized financial institutions only. Established friends will be provided with additional options.
                </p>

                <h4>What if I am having so much fun I want to extend our date?</h4>
                <p>
                    If you wish to extend our date, please address this and take care of the additional time before the original time is over.
                </p>


            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <h4>What are your expectations of me?</h4>
                <p>
                    I expect you to present me with my fees at the commencement of each appointment. If we are in public, please be discreet and use a gift card or a small gift bag. I expect that you be a gentleman at all times and respect any boundaries I have. To make our date as enjoyable as possible, please be well groomed, freshly showered and have minty-fresh breath.
                </p>

                <h4>What will you wear on our date?</h4>
                <p>
                    I have a beautiful wardrobe and always dress appropriately. Rest assured that while I may turn some heads, I will never be out of place wherever we meet.
                </p>

                <h4>When can we meet?</h4>
                <p>
                    I prefer advance booking as I have a busy personal life. My schedule is fairly flexible so I will do my best to accommodate you.
                </p>

                <h4>Do you have any piercings or tattoos?</h4>
                <p>
                    I have traditionally pierced ears and 4 tasteful tattoos.
                </p>

                <h4>Do you offer concierge services?</h4>
                <p>
                    I do have my own in-call location. Once we are well acquainted, I would be pleased to make hotel and restaurant reservations for us.
                </p>

                <h4>Do you like to travel?</h4>
                <p>
                    Yes, I love to travel. With enough notice, I can fly to meet you anywhere! I require a first date to get acquainted before agreeing to travel with someone. If we are not well acquainted, I will require my own room. I expect to be reimbursed for travel expenses.
                </p>
            </div>

        </article>
    </div class="row">
</div>