@{
    Page.Title = "These are a few of my Favorite Things";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="well well-lg">

    <hgroup class="title">
        <h2 class="page-headers">These are a few of my Favorite Things:</h2>
    </hgroup>

    
    <h4>
        I love gifts, though they are not required or expected. if you wish to indulge me, I would be delighted to receive a gift (or gift certificate) from the following stores, clothing line, designers, etc.:
    </h4>
    <ul>
        <li>Agent Provocateur</li>
        <li>MAC</li>
        <li>Nars</li>
        <li>Valentino</li>
        <li>Dolce and Gabbana</li>
        <li>Tom Ford</li>
        <li>Michael Kors</li>
        <li> L.A.M.B.</li>
        <li>Burberry</li>
        <li>Nina Ricci</li>
        <li>Chanel</li>
        <li>Tickets to a charity event or concert,</li>
        <li>
            Spa gift certificates
            <ul>
                <li>"The Spaahh" at Hotel 1000,</li>
                <li>Penelope and The Beauty Bar at Penelope And The Beauty</li>
            </ul>
        </li>
        <li>Flowers (Star Gazer Lilies or Roses are some of my favorites)</li>
        <li>A Spectacular bottle of wine or Champagne.</li>
        <li>
            Perfumes I adore:
            <ul>
                <li>“The One: The Rose” by Dolce and Gabanna</li>
                <li> “Flowerbomb” by Viktor & Rolf</li>
            </ul>
        </li>

    </ul>

    <h4>Shoes, Books, Etc.</h4>
    <ul>
        <li>
            <p>
                Shoes are also a guilty pleasure of mine and I enjoy wearing all sorts of different styles and colors!  (Size 9.5 open-toe, 10 closed toe)
            </p>
        </li>
        <li>
            <p>
                Books are a sure way to my heart. If you decide to go that route, you can't go wrong. I especially love first editions and rare or antique books- such as fairy tale books.
            </p>
        </li>
        <li>
            <p>
                Of course, some individuals love the art of shopping as much as I do. I would be delighted to join you if it is your preference to spoil me in that way! ;)
            </p>
        </li>
    </ul>

</div>