@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Reviews";
}

@*
    THIS IS THE TEMPLATE FOR REVIEWS ON THE REVIEW PAGE.  COPY AND PASTE THIS CODE THEN FILL IN THE DETAILS THAT ARE IN ALL CAPS
     
    <article>
            <hgroup class="title">
                <h4 id="review-page-headers">TITLE OF REVIEW</h4>
            </hgroup>
            <blockquote>

                <p>
                    "THIS IS THE TEXT OF PARAGRAPH 1
                </p>
                <p>
                    THIS IS THE TEXT OF PARAGRAPH 2"

                </p>

                <small>
                    REVIEWER HANDLE OR SCREENNAME &nbsp;&nbsp;
                    <cite title="REVIEWER HANDLE OR SCREENNAME">
                        <a id="review-page-ext-link" href="https://www.tnaboard.com/INSERT-LINK-TO-AD">TITLE OF LINK TO REVIEW - DATE</a>
                    </cite>
                </small>
            </blockquote>



        </article>
*@


<div>

    <div class="well well-lg">
        <hgroup class="title">
            <h2 class="page-headers">Acknowledgements.</h2>
        </hgroup>

        <article>
            <hgroup class="title">
                <h4 id="review-page-headers">Another Out-of-this-World Experience with the Always Mind Blowing Lily Grace</h4>
            </hgroup>
            <blockquote>

                <p>
                    "This is my second review for Lily and honestly, if I keep having as much fun as I do with her, I may never see anyone else lol. I don't like all the bullshit that usually goes along with meeting new providers and especially how nervous I get so I generally stick to the same 1-3 regular providers who I know and trust but since moving to Seattle I must have gotten really lucky because since meeting Lily I have not seen any reason to see anyone else. She is stunningly beautiful, funny and easy to converse with, and I always leave our encounters feeling like a million bucks. She seriously has become for me the super sexy and totally cool woman I wish I could find outside of the hobby.
                </p>
                <p>
                    She met me for dinner in what I can only describe as one of the most elegant and sexy dresses ive seen ever, thigh highs, and heels. I about fell out of my chair. After dinner and drinks we returned to my place and the festivities began. There were outfit changes, masks, and costumes of various types. Orgasms were had by all and finally I had to raise my white flag to surrender. By the time the sun was up she had worn me out completely and put me to bed, exhausted and thoroughly happy from head to toe. When I woke up the next morning she was sitting next to me laughing and typing away on her computer. She had even brought me some OJ from the fridge and everything. Such a sweetheart this girl is."

                </p>

                <small>
                    BennyAndP00n &nbsp;&nbsp;
                    <cite title="BennyAndP00n">
                        <a id="review-page-ext-link" href="https://www.tnaboard.com/showthread.php?999521-Another-out-of-this-world-experience-with-the-always-mind-blowing-Lily-Grace">Another Out-of-this-World Experience with the Always Mind Blowing Lily Grace - Oct. 2015</a>
                    </cite>
                </small>
            </blockquote>



        </article>


        <article>
            <hgroup class="title">
                <h4 id="review-page-headers">LilyGrace - Amazing</h4>
            </hgroup>
            <blockquote>

                <p>
                    "I was late because I couldn't find the place, but she was nothing but helpful and understanding. Absolutely gorgeous, fun to talk to, put me completely at ease. It felt like I was hanging out with someone I knew from forever ago but fell out of touch with. Excellent experience that I'd recommend to anyone."

                </p>

                <small>
                    jonathansly &nbsp;&nbsp;
                    <cite title="jonathansly">
                        <a id="review-page-ext-link" href="https://www.tnaboard.com/showthread.php?995217-LilyGrace-Amazing">LilyGrace - Amazing - Oct. 2015</a>
                    </cite>
                </small>
            </blockquote>



        </article>


        <article>
            <hgroup class="title">
                <h4 id="review-page-headers">Pure Bliss with Lily Grace</h4>
            </hgroup>
            <blockquote>

                <p>
                    "When I first saw Lily Grace, I thought I was meeting with a Bond girl - a tall, red-lipped, classy eye candy with a knack for fashion aka stunning! - but she was also a total sweetheart! (I was in fact wearing a suit at the time so we hit it off instantly) Her personality is a huge plus - she gave off that vibe like I'd known her all my life and I felt at ease with her companionship.
                </p>
                <p>
                    Her smile captures souls, she smells incredible, she has a great dancer body, and just a personal preference, but her voice is incredibly soothing. Since I'm new and have no preference point to call Lily Grace the best provider in town, but the time I had with her was no doubt the best I've ever had with a girl. Period. At the end of the day, if she'd told me to take over the world or run for the Republic party, I probably would have."

                </p>

                <small>
                    cheese_truck &nbsp;&nbsp;
                    <cite title="cheese_truck">
                        <a id="review-page-ext-link" href="https://www.tnaboard.com/showthread.php?1001501-Pure-bliss-with-Lily-Grace">Pure Bliss with Lily Grace - Oct. 2015</a>
                    </cite>
                </small>
            </blockquote>



        </article>


        <hgroup class="title">
            <h4 id="review-page-headers">Super Good</h4>
        </hgroup>
        <blockquote>

            <p>
                "She's kind, compassionate, patient and very genuine. She goes out of her way to please, gives you every impression she enjoys her time with you and goes above and beyond to make sure you enjoy your time with her. It's unlike anything I've experienced with anyone else I've been with--provider or no.
            </p>

            <p>
                Guys, if you haven't made her acquaintance, what the hell are you waiting for? Quit screwing around! She's the real deal and if your experience is anything like mine, she will rock your world."
            </p>

            <small>
                mikemazo &nbsp;&nbsp; 
                <cite title="mikemazo">
                    <a id="review-page-ext-link" href="https://www.tnaboard.com/showthread.php?976120-MissLilyGrace-Super-good&p=8281211&viewfull=1#post8281211">Super Good</a>
                </cite>
            </small>
        </blockquote>
        <hgroup class="title">
            <h4 id="review-page-headers">Better Than You Could Possibly Imagine</h4>
        </hgroup>
        <blockquote>
            
            <p>
                "Lily really is a fox and is a true goddess crossed with rock star in the sack. I am now her newest regular, first review writer, and ya'all can take your place in line BEHIND me. She is a low volume provider and caters to people who are not total cheapskates. If you are going to try and haggle with her waste your breathe. Every penny you spend will be worth it many times over. Period.
            </p>

            <p>
                I loved our time together and will be back as much as my schedule permits. So good to meet you Lily and I cant wait to see you again real soon."
            </p>
            
            <small> Unconscious &nbsp;&nbsp;
            <cite title="Unconscious">
                <a id="review-page-ext-link" href="https://www.tnaboard.com/showthread.php?955228-LilyGrace-Better-Than-You-Could-Possibly-Imagine&highlight=">Better Than You Could Possibly Imagine</a>
            </cite>
            </small>
        </blockquote>

        

        <article>
            <hgroup class="title">
                <h4 id="review-page-headers">Amazing Irish Encounter</h4>
            </hgroup>
            <blockquote>

                <p>
                    "As soon as I landed in Seatac I txt her and she reply right away that she has an incall. I was there.
                </p>
                <p>
                    we met at the street and when I saw her she waved at me and I count believed it how pretty she is.
                </p>
                <p>
                    we walked in to here apartment, and it was nice and relax, we click right away, I was feeling like she was my girlfriend from long time and I haven't seen her for days."

                </p>

                <small>
                    Moonazul &nbsp;&nbsp;
                    <cite title="Moonazul">
                        <a id="review-page-ext-link" href="https://www.tnaboard.com/showthread.php?958942-Amazing-Irish-Encounter">Amazing Irish Encounter</a>
                    </cite>
                </small>
            </blockquote>
            
            
            
        </article>
    </div>

</div>