@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Schedule";
}


<div class="well well-lg">
    <hgroup class="title">
        <h2 class="page-headers">Schedule and Availability:</h2>
    </hgroup>


    <article>
        <p>
            I am highly selective and see very few gentlemen. I prefer to be in a long-term exclusive arrangement, which is why occasionally, you may find that I am unavailable.
        </p>
        
    </article>
    <aside>
        <h2 class="page-headers">What I Expect From My Clients:</h2>
        <p>
            Always conduct yourself in a honest and respectful manner.  That means be polite, be on-time, and don't break my rules which are in place for everyone's safety.

            Maintain good daily hygene ie shower.  I have a shower and would likely jump in with you plus lots of clean towels, scented and unscented soaps/shampoos, and shave gel etc.
        </p>

    </aside>

    <section class="service-page-donation">
        <header>
            <h3 class="page-headers">Donation Expectations:</h3>
        </header>

        <ul>
            <li>B + G - $99</li>
            <li>Half Hour - $200</li>
            <li>Full Hour - $350</li>


        </ul>
        <p id="service-page-headers"> * Extended visits and special arraignments are available to returning gentlement. </p>

    </section>
</div>







@*<ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Gallery">Gallery</a></li>
        <li><a href="~/Contact">Contact</a></li>
        <li><a href="~/Service">Service</a></li>

    </ul>*@

