@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div class="well well-lg">
    <hgroup class="title">
        <h2 class="page-headers">Screening:</h2>
    </hgroup>


    <article>
        <p>
            The screening process is crucial, as it establishes a threshold for any future encounters. Only serious and respectful inquires will be considered. I value safety and security foremost, as well as the need for vigilant privacy. In respect to our privacy, any information conveyed remains strictly confidential.  Please provide me with one of the three methods for your verification; whichever option you feel most comfortable with.
        </p>
        <ul>
            <li>
                Two providers’ names (that you have seen recently) and their contact information for your verifications. That information would include their names and handles, their website information and contact numbers.
            </li>
            <li>
                Employment information:  Your First and Last name, your Company’s name, and their website, and your Verification ID or Handle on TNABoard.com or Preferred 411.
            </li>
            <li>
                A meet and greet meeting at a public location. (Please see rates page additional details on this option…)
            </li>
        </ul>

    </article>
</div>